@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Sour Gummy";
  background-color: #0f1329;
  color: #90abd0;
  font-size: 20px;
  margin: 0;
}

.container {
  display: flex;
}

.menu {
  background-color: #ffffff22;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding-top: 30px;
  padding: 30px;

  
}
.menu a {
  color: #c3d0e1;
  line-height: 3;
}

.main {
  padding-top: 24px;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}


.main h1 {
  color: #8a2442;
  font-size: 48px;
}
.main input {
  border-radius: 6px;
  padding: 8px;
  border: none;
  font-size: 20px;
  background-color: white;
  color: #0f1329;
  font-family: "Sour Gummy";
}
.main .mysubmit {
  border: none;
  color: #90abd0;
  padding: 7px 7px;
  text-align: center;
  background-color: #0f1329;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Sour Gummy";
}
.main button { 
  border: none;
  border-radius: 6px;
  color: #0f1329;
  padding: 7px 7px;
  text-align: center;
  background-color: #c3d0e1;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Sour Gummy";
}
